/* 
  enjoy remixing these samples
  aurora remixyz inline styles
  samples webmural.com s9a.page
  yo energy flows deep ))))))))
*/

.imagine {
  --tape-remix: radial-gradient(
    circle at center,
    var(--tape-green),
    var(--tape-blue),
    var(--tape-yellow),
    var(--tape-pink)
  );
}

.hella {
  --tape-remix: radial-gradient(orchid, #bae);
}

.honey {
  --tape-remix: radial-gradient(orange, violet);
}

.twist {
  --tape-filter: hue-rotate(120deg);
}

.shout {
  --tape-filter: hue-rotate(240deg);
}

.shell {
  --tape-white: seashell;
}

#hi:target {
  --tape-blue: mediumslateblue;
  --tape-pink: violet;
  --tape-yellow: gold;
  --tape-green: turquoise;
}

::selection {
  color: black;
  background: blueviolet;
}

:focus {
  text-decoration-style: dotted;
  outline: 2rem outset;
}

:hover {
  text-decoration-style: double;
}

/* N.E.R.D. ÷ MCR */
.mold { font: unset }
.bold { font-weight: bold }
.moan { margin: auto }
.moby { margin-bottom: 6vh }
.nemo { margin-bottom: 9vh }
.paz { padding: 0 }
.pad { padding: 1rem }
.party { display: block }
.fiesta { display: flex; flex-wrap: wrap }
.trio { list-style: none; flex-basis: 33.33333333% }
.duet { list-style: none; flex-basis: 50% }
.dot::after { content: "." }
.mime { margin-inline: var(--vol1) }
.rime { text-align: end }
html { border-bottom: 9vh double var(--tape-pink) }
html { font-family: sans-serif }
body { padding: 0 6vw; margin: auto }
input { font: unset; max-width: 100% }
button { font: unset }
figure { margin: auto; contain: layout }

/*
RE: volume
s9a.page/volume
*/

html {
  --pump: 1;
  --vol1: max(1rem, 1vmax);
  --vol2: calc(2 * var(--pump) * var(--vol1));
  --vol3: calc(3 * var(--pump) * var(--vol1));
  --vol4: calc(4 * var(--pump) * var(--vol1));
  --vol5: calc(5 * var(--pump) * var(--vol1));
  --vol6: calc(6 * var(--pump) * var(--vol1));
  --vol7: calc(7 * var(--pump) * var(--vol1));
  --vol8: calc(8 * var(--pump) * var(--vol1));
  --vol9: calc(9 * var(--pump) * var(--vol1));
}

.vol0 { font-size: 0 }
.vol1 { font-size: var(--vol1) }
.vol2 { font-size: var(--vol2) }
.vol3 { font-size: var(--vol3) }
.vol4 { font-size: var(--vol4) }
.vol5 { font-size: var(--vol5) }
.vol6 { font-size: var(--vol6) }
.vol7 { font-size: var(--vol7) }
.vol8 { font-size: var(--vol8) }
.vol9 { font-size: var(--vol9) }