:root {
  --tape-black: #090909;
  --tape-white: #e9e9e9;
  --tape-pink: #fbbfff;
  --tape-yellow: #eee833;
  --tape-blue: #11dff1;
  --tape-green: #44f477;
  --tape-filter: none;
  --tape-mix: transparent;
}

@media (prefers-contrast: less) {
  :root {
    --tape-white: #dcdcdc;
    --tape-black: #181818;
  }
}

.tape-black,
.tape-white { --tape-hex: var(--tape-white) }
.tape-blue { --tape-hex: var(--tape-blue) }
.tape-pink { --tape-hex: var(--tape-pink) }
.tape-green { --tape-hex: var(--tape-green) }
.tape-yellow { --tape-hex: var(--tape-yellow) }

.tape-clean:not(.tape-clash),
.tape-clean :not(.tape-clash) {
  background: transparent;
  color: inherit;
}

.tape-flat { border-color: transparent }
.tape-flap { border-color: currentColor }

.tape-black,
.tape-blue,
.tape-pink,
.tape-green,
.tape-yellow,
.tape-white {
  --tape-mix: var(--tape-hex);
  --tape-remix: radial-gradient(transparent, transparent);
  color: var(--tape-black) !important;
  background-color: var(--tape-mix) !important;
  background-image: var(--tape-remix);
  filter: var(--tape-filter);
}

.tape-black {
  --tape-mix: var(--tape-black);
  color: var(--tape-hex) !important;
}

.tape-erase,
.tape-erase * {
  color: transparent !important;
}
