/* opensuction s9a.page/tape */

:root {
  --tape-filter: none;
  --tape-blue: #11dff1;
  --tape-pink: #fbbfff;
  --tape-yellow: #eee833;
  --tape-green: #44f477;
  --tape-black: #0e0e0e;
  --tape-white: #e0e0e0;
  --tape-hex: #e0e0e0;
  --tape-mix: transparent;
}

.tape-white { --tape-hex: var(--tape-white) }
.tape-green { --tape-hex: var(--tape-green) }
.tape-yellow { --tape-hex: var(--tape-yellow) }
.tape-pink { --tape-hex: var(--tape-pink) }
.tape-blue { --tape-hex: var(--tape-blue) }
.tape-flat { border-color: transparent }
.tape-flap { border-color: currentColor }
.tape-flow { --tape-remix: none }
.tape-flow :not(.tape-skip) {
  background-color: transparent;
  color: inherit;
}

.tape-black,
.tape-blue,
.tape-pink,
.tape-yellow,
.tape-green,
.tape-white {
  --tape-mix: var(--tape-hex);
  --tape-remix: none;
  color: var(--tape-black) !important;
  background-color: var(--tape-mix) !important;
  background-image: var(--tape-remix);
  filter: var(--tape-filter);
}

.tape-black {
  --tape-mix: var(--tape-black);
  color: var(--tape-hex) !important;
}

.tape-erase *,
.tape-erase {
  color: transparent !important;
}
